body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #131212;
}

#main-event-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#event-box h2 {
    margin-bottom: 10px;
}

#event-box p {
    margin: 0 0 10px;
}

#event-box img {
    max-width: 100%;
    border-radius: 10px;
}

hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
}
